/* IIF main stylesheet */

/*Hello World*/

header .site-title h1 {
  font-family: 'exoextrabold';
  font-size: 1.8em;
  font-
  text-align: center;
  color: #eda73d;
  padding-top: 70px;
  margin-bottom: 0px;
}
header .site-title p {
  font-family: 'exoregular';
  font-size: 1em;
  text-align: center;




/* -- Intro --*/
section.intro .panel{
  border:2px solid #feb900;
  background:#fff;
  -webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
height:184px;
}

section.intro p{
  fon-size:1.313em;
}

section.intro img{
  width:235px;
}
